/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #E0E0E0;
    color: #333;
}


/* Estilos del Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2C2438; /* Color de fondo para el encabezado */
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.menu-toggle {
    font-size: 24px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1; /* Ocupa el espacio central */
    margin: 0;
}

.logo img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

/* Ajustes adicionales para centrar */
.header h1 {
    margin-left: -24px; /* Ajuste para centrar el título entre el botón y el logo */
}

@media screen and (min-width: 700px) {
    .menu-toggle {
        display: none; /* Ocultar en pantallas más grandes */
    }
}


/* Botón */
.btn {
    background-color: #fff !important;
    color: #333 !important;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #ecd20f !important;
}

/*Sección de preguntas frecuentes*/
body {
    font-family: Arial, sans-serif;
    background-color: #E0E0E0;
    color: #333;
    margin: 0;
    padding: 20px;
}

.faq-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.faq-item {
    border-bottom: 1px solid #ccc;
}

.faq-question {
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #e0e0e0;
}

.faq-answer {
    display: none;
    padding: 15px;
    background-color: #fafafa;
    border-top: 1px solid #ccc;
}

.toggle {
    font-weight: bold;
}