/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #E0E0E0;
    color: #333;
}


/* Estilos del Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2C2438; /* Color de fondo para el encabezado */
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.menu-toggle {
    font-size: 24px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1; /* Ocupa el espacio central */
    margin: 0;
}

.logo img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

/* Ajustes adicionales para centrar */
.header h1 {
    margin-left: -24px; /* Ajuste para centrar el título entre el botón y el logo */
}

@media screen and (min-width: 700px) {
    .menu-toggle {
        display: none; /* Ocultar en pantallas más grandes */
    }
}


/* Botón */
.btn {
    background-color: #fff !important;
    color: #333 !important;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #ecd20f !important;
}

/* Estilos de la Sección Hero */
.hero {
    position: relative;
    text-align: center;
    color: #292727;
    margin-top: 60px; /* Espacio debajo del header */
    padding: 60px 20px;
    
}

.hero h1 {

    font-family: 'Porter Sans Block', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    
    display: flex;
    align-items: center;
    justify-content: center; /* Opcional si quieres centrar el texto dentro del contenedor */
    
    color: #000000;
    text-shadow: 3px 3px 0px #fff, /* Sombra para crear el efecto de borde */
                 -3px -3px 0px #fff,
                 3px -3px 0px #fff,
                 -3px 3px 0px #fff,
                 2px 2px 0px #333; /* Sombra oscura para el efecto 3D */
}


.hero p {
    font-size: 1.2rem;
}

/* Sección de Proyectos */
.projects-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    background-color: #DDDDDD;
}

.project-card {
    position: relative;
    width: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.project-card img {
    width: 100%;
    height: auto;
    display: block;
}

/* Superposición de texto */
.project-text-overlay {
    position: absolute;
    top: 15px;
    left: 10px;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.project-text-overlay2 {
    position: absolute;
    bottom: 15px;
    left: 10px;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.project-text-overlay h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
