/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #E0E0E0;
    color: #333;
}

/* Estilos del Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: rgba(44, 36, 56, 0.5);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo img {
    width: 100px;
    height: auto;
    margin-top: 0;
    border-radius: 50%; 
}


.navbar a, .menu-toggle {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.menu-toggle {
    font-size: 24px;
    display: block; /* Cambiado a block para mostrar en dispositivos móviles */
}

@media screen and (min-width: 700px) {
    .menu-toggle {
        display: none; /* Ocultar en pantallas más grandes */
    }
}
.btn {
    background-color: #fff !important;
    color: #333 !important;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    
   
}

.btn:hover {
    background-color: #ecd20f !important;
}

/* Estilos de la Sección Hero */
.hero {
    position: relative;
    text-align: center;
    color: #fff;
    margin-top: 0px;
}

.hero-img {
    width: 100%;
    height: auto;
    margin-top: 0; /* Asegúrate de que no haya margen superior */
}

.hero-overlay {
    position: absolute;
    top: 20%;
    right: 10%;
    transform: translateY(-50%);
}

.hero h1 {
    font-size: 3rem;
    
}

.hero p {
    font-size: 2rem;
    
}
/* Sección de Proyectos */
.projects-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    background-color: #F5F5F5;
}

.project-card {
    position: relative;
    width: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.project-card img {
    width: 100%;
    height: auto;
    display: block;
}

/* Superposición de texto */
.project-text-overlay {
    position: absolute;
    bottom: 15px;
    left: 10px;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.project-text-overlay h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
