/* Estilos generales */
@import url('https://fonts.cdnfonts.com/css/porter-sans-block');

body {
    background-color: #E0E0E0;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;

}

/* Header anclado */
header {
    background-color: #2c2438;
    color: #ffffff;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mapasitio {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.content-container {
    padding: 0 10px;
    margin-top: 15px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 15px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}


.logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
}


.menu li {
    margin-right: 30px;
    font-size: 15px;
    margin-top: 10px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    transition: background-color 0.3s;
}

/* Hover general */
.menu li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Estilo para el botón activo */
.menu li a.active {
    background-color: #ffc107;
    /* Color destacado para el botón activo */
    color: #2c2438;
    /* Cambia el color del texto */
    border-radius: 5px;
    cursor: default;
    /* Cambia el cursor a no clicable */
}

/* Desactivar el hover en el botón activo */
.menu li a.active:hover {
    background-color: #ffc107;
    /* Mantiene el color del botón activo */
    color: #2c2438;
}

/* Imagen centrada */
.avances-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
}


.avances-img:hover {
    transform: scale(1.03);
}

/* Paleta de Color  es */
.color-palette {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 10px;
    flex-wrap: wrap;
    /* Para que sea responsive */
}

.color {
    height: 150px;
    width: 150px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 1rem;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    border: 4px solid #000000;
}

#color1 {
    background-color: #2c2438;
}

#color2 {
    background-color: #DDDDDD;
}

#color3 {
    background-color: #000000;
}

#color1:hover,
#color2:hover,
#color3:hover {
    transform: scale(1.1);
    transition: transform 0.8s;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {

    .logodekstop {
        display: none;
    }

    .menu {
        display: none;
    }

    .navBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navBar a {
        display: none;
    }

    .logo {
        width: 80px;
    }

    header {
        width: 100vw;
    }

    .logomobile {
        width: min-content;
    }

    .burger-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        display: none;
    }


    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-info {
        flex-direction: column;
        gap: 10px;
    }

    .footer-logo {
        position: static;
        /* Para que se ajuste automáticamente en pantallas pequeñas */
        margin-top: 10px;
    }

    .team {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 480px) {
    .menu li a {
        padding: 8px 15px;
        /* Reducir el padding de los enlaces */
    }

    .navBar h1 {
        font-size: 1.2rem;
        /* Ajustar el título aún más en pantallas muy pequeñas */
    }

    .color {
        height: 100px;
        width: 100px;
        /* Reducir tamaño de los colores en pantallas pequeñas */
        font-size: 20px;
    }

    .team {
        grid-template-columns: 1fr;
    }

}

/* Recuadro para los objetivos */
.objectives-box {
    border: 2px solid #2c2438;
    /* Borde del recuadro */
    background-color: #f9f9f9;
    /* Color de fondo del recuadro */
    padding: 20px;
    /* Espacio interno del recuadro */
    max-width: 600px;
    /* Ancho máximo del recuadro */
    margin: 20px auto;
    /* Centrará el recuadro horizontalmente */
    text-align: center;
    /* Centrar el texto dentro del recuadro */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* Sombra alrededor del recuadro */
    border-radius: 10px;
    /* Bordes redondeados */
    font-size: 16px;
    /* Tamaño de letra */
}

/* Footer */
footer {
    background-color: #2C2438;
    /* Color gris oscuro */
    color: #ffffff;
    /* Color de texto blanco */
    font-family: "Nunito", sans-serif;
    position: relative;
    /* Para posicionar el logo */
    padding-bottom: 10px;
}

/* Contenedor del footer */
.footer-container {
    display: flex;
    justify-content: center;
    /* Para centrar el contenido de texto */
    align-items: center;
    position: relative;
    /* Necesario para el posicionamiento del logo */
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

/* Estilos de la información del footer */
.footer-info {
    display: flex;
    gap: 30px;
    /* Espacio entre los textos */
    font-size: 16px;
}

.footer-info p {
    margin: 0;
    font-weight: lighter;
    font-family: 'Nunito', sans-serif;
}

/* Estilo para el logo */
.footer-logo {
    position: absolute;
    /* Para que esté separado del flujo normal */
    right: 20px;
    /* Coloca el logo al extremo derecho */
    top: 50%;
    /* Centrado verticalmente */
    transform: translateY(-50%);
    /* Ajusta el centrado vertical */
}

.uade {
    max-width: 100px;
}

/* Estilo de los derechos reservados */
.footer-rights {
    margin-top: 10px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

/* TURNOS */

.calendar-section {
    margin-top: 2rem;
    text-align: center;
}

input[type="text"],
select {
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
select:focus {
    outline: none;
    border-color: #007BFF;
}

select {
    cursor: pointer;
    appearance: none;
    /* Elimina el estilo por defecto */
    background: url('data:image/png;base64,...') no-repeat right;
    /* Ícono de flecha (agrega tu propio ícono aquí) */
    background-size: 10px;
    /* Ajusta el tamaño del ícono */
}

.team {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
}


.card {
    background-color: #2c2438;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #2c2438;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #2c2438;
    color: white;
}

.card:hover {
    transform: scale(1.05);
}

.presupuestos-section {
    padding-top: 30px;
    text-align: center;
    background-color: #F8F8F8;
}

.presupuestos-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.presupuestos-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 2rem;
}

.img-wrapper {
    display: inline-block;
    /* change the default display type to inline-block */
    overflow: hidden;
    /* hide the overflow */
    width: 100%;
    height: 528px;
}

.presupuestos-image {
    width: 100%;
    padding-bottom: 30px;
}

.presupuestos-content {
    margin: 0 auto;
    max-width: 800px;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

/* Contact Button */
.contact-button {
    background-color: #2D1E2F;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: background-color 0.3s ease;

}

.contact-button:hover {
    background-color: #FFD700;
    color: #2D1E2F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Porter Sans Block', sans-serif;
}

.subtitle {
    font-size: 64px;
}

.servicios-section {
    background-color: #F4F4F4;
    padding: 2rem;
    text-align: center;
}

.servicios-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}

.btnContacto {
    padding: 10px 20px;
    background-color: #2C2438;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.servicio-item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.servicio-item.reverse {
    flex-direction: row-reverse;
}

.servicio-image {
    width: 40%;
    border-radius: 8px;
}

.servicio-content {
    width: 60%;
    text-align: left;
}

.servicio-content h3 {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.servicio-content p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}

.consejos-section {
    background-color: #FFFFFF;
    padding: 2rem;
    text-align: center;
}

.consejos-title {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.consejos-description {
    font-size: 1rem;
    color: #333;
    margin-bottom: 2rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Consejo Item */
.consejo-item {
    display: flex;
    align-items: center;
    background-color: #2D1E2F;
    border-radius: 12px;
    margin-bottom: 1.5rem;
    padding: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.service-container {
    display: flex;
    max-width: 900px;
    background-color: #30243b;
    /* Dark purple background */
    border-radius: 45px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-text {
    color: white;
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-text h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.service-text p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.service-text button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    width: 200px;
    color: #30243b;
    background-color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.service-text button:hover {
    background-color: #dcdcdc;
}

.service-image {
    flex: 1;
    background-size: cover;
    background-position: center;
}

.img1 {
    background-image: url('../img/seccion1.png');
}

.img2 {
    background-image: url('../img/seccion2.png');
}

.img3 {
    background-image: url('../img/seccion3.png');
}

.consejo1 {
    background-image: url('../img/consejos1.jpeg');
}

.consejo2 {
    background-image: url('../img/consejos2.png');
}

.consejo3 {
    background-image: url('../img/consejos3.png');
}

.consejo4 {
    background-image: url('../img/consejos4.png');
}

.consejo5 {
    background-image: url('../img/consejos5.png');
}

.consejo6 {
    background-image: url('../img/consejos6.png');
}

.consejo-number {
    font-family: 'Porter Sans Block';
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-right: 1rem;
    padding: 1rem;
    text-align: center;
}

.consejo-content {
    flex: 1;
    background-color: #2D1E2F;
    /* Fondo oscuro para el texto */
    color: #FFFFFF;
    padding: 1rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.consejo-content h3 {
    font-size: 1.2rem;
    margin: 0;
}

.consejo-content p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.consejo-image {
    width: 200px;
    height: auto;
    border-radius: 0 12px 12px 0;
    object-fit: cover;
}

/* Ajuste de estilo para números */
.consejo-number {
    font-size: 3rem;
    color: #000;
    font-weight: bold;
    text-shadow: 1px 1px #FFF, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
